.content{
  display: flex;
  flex-direction: column;
}

.api-url{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(223, 218, 218);
  border-radius: 2px;
  padding: 0.2rem;
  margin-bottom: 1rem;
  width: 55%;
}

.link-icon{
  margin-top: 0.4rem;
}

.api-url span{
  margin-right: 1rem;
}

.api-type{
  background-color: rgb(21, 134, 21);
  color: white;
  border-radius: 2px;
  padding: 0.2rem 0.3rem;
  font-weight: 400;
}

.content h1{
  font-weight: 700;
  margin-bottom: 1rem;  
}

.content h2{
  font-weight: 500;
  margin-bottom: 1rem;  
  font-size: medium;
}

.content li{
  margin-bottom: 3rem;
  list-style: none;
  margin-bottom: 0.5rem;  
}

.request-images{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;  
}

.request-images-child{
  width: 50%;
}

.request-images-child img{
  width: 60%;
}

.api-description{
  margin-bottom: 1.5rem;
}