.main-sidebar{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 12%;
  background-color: black;
  color: white;
  padding: 5rem 0 0 1.5rem;
}

.main-sidebar button{
  text-transform: capitalize;
  padding-left: 0.5rem;
  margin-bottom: 0.4rem;
  text-align: left;
  width: 7.5rem;
  border-style: none;
  font-size: medium;
  border-radius: 2px;
}
