@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,600&family=Outfit:wght@100..900&family=Roboto:wght@100;400&display=swap;");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,600&family=Outfit:wght@100..900&family=Roboto:wght@100;400&display=swap");
@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Outfit";
  font-weight: 300;
}

.main-area{
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content-area{
  width: 60%;
  margin-top: 2rem;
  margin-left: 4rem;
}


@media screen and (max-width: 600px) {
  .content-area{
    width: 70%;
    margin-top: 2rem;
    margin-left: 1rem;
  }
}
